services:
  - type: web
    name: ladybug-bot
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: ladybug-db
          property: connectionString

databases:
  - name: ladybug-db
    plan: free
    region: oregon
